@import "../colors";

.action-buttons {
  margin: -21px 26px 30px;

  display: flex;
  align-items: center;
  justify-content: center;

  &__item {
    cursor: pointer;
    padding: 13px;
    width: 40px;
    height: 40px;
    display: block;
    border-radius: 50%;
    background-color: $color-mango-two;
    flex-shrink: 0;
    transition: 0.3s;

    &:hover {
      background-color: $color-foxy;
    }

    &:active {
      .action-buttons__pic {
        opacity: 0.3;
      }
    }

    &:nth-child(2) {
      background-color: $color-mango-three;

      &:hover {
        background-color: $color-mango-two;
      }
    }
  }

  &__pic {
    max-width: 100%;
  }
}
