.add-plan {
  background-color: $color-middle-blue;
  color: $color-dark-slate-blue;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  margin-top: -50px;
  padding: 30px 25px 44px;
}
