@import "../colors";

.destinations {
  padding-top: 122px;
  padding-bottom: 25px;
  position: relative;
  z-index: 7;

  &__text {
    padding-right: 53px;
    margin-bottom: 66px;
  }

  &__cards {
    margin-bottom: 25px;
  }

  &__more {
    //margin-bottom: 30px;
  }

  &__heading,
  &__text {
    padding: 0 38px 0 25px;
  }
}
