.filter-countries {
  width: calc(100% + 54px);
  margin: -20px 0 24px -27px;
  padding-top: 50px;
  background-color: $color-pale-grey-dark;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
