.interested {
  position: relative;
  z-index: 4;

  &__heading {
    margin-top: 72px;
    text-align: center;
  }

  &__actions {
    padding-bottom: 30px;

    @media (min-width: 1200px) {
      padding-bottom: 104px;
    }
  }

  &__text {
    padding: 0 36px;
    text-align: center;
    margin-bottom: 32px;
    color: $color-white;
    font-size: 16px;

    @media (min-width: 768px) {
      font-size: 28px;
      padding: 0;
    }
  }

  &__form {
    margin-bottom: 32px;
  }

  &__auth {
    color: $color-light-gold;
  }
}
