.menu {
  font-size: 30px;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
  line-height: 1.2;

  @media (min-width: 768px) {
    font-size: 60px;
    text-align: left;
  }

  @media (min-width: 1200px) {
    font-size: 20px;
    display: flex;
  }

  &__item {
    margin-right: 36px;

    &:last-child {
      margin-right: 0;
    }
  }
  &__link {
    color: $color-dark;

    @media (min-width: 1200px) {
      color: $color-white;
    }
  }
}
