.page-footer {
  position: relative;
  z-index: 3;

  display: flex;
  flex-direction: column;

  @media (min-width: 768px) {
    padding: 48px 40px 46px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  @media (min-width: 1420px) {
    padding: 48px 60px 46px;
  }


  &__logo {
    text-align: center;
    margin-bottom: 40px;

    @media (min-width: 768px) {
      margin-bottom: 0;
    }
  }

  &__logoimage {
    &--tablet {
      display: none;
    }

    @media (min-width: 768px) {
      display: none;

      &--tablet {
        display: inline;
      }
    }
  }

  &__socials {
    margin-bottom: 37px;

    @media (min-width: 768px) {
      margin-bottom: 0;
    }
  }

  &__text-copyright {
    color: $color-greyish-brown;
    font-size: 16px;

    @media (min-width: 768px) {
      margin-right: 24px;
      font-size: 20px;
    }
  }

  &__copyright {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 14px 0;

    border-top: 1px solid rgba(0, 0, 0, 0.05);

    @media (min-width: 768px) {
      border: none;
    }
  }

  &__logo-copyright {
    transition: 0.3;
    &:hover {
      opacity: 0.5;
    }
  }
}
