@import "../colors";

.page-main {
  &__section {
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    margin-top: -50px;
    padding-top: 50px;
    padding-left: 25px;
    padding-right: 25px;

    &--dark {
      background-color: $color-dark-blue-grey;
    }

    &--light {
      background-color: $color-pale-grey-middle;
    }
  }

  &__heading {
    font-size: 24px;
    font-weight: 700;
    line-height: 1;
    text-align: left;
    color: $color-mango-two;

    margin-bottom: 23px;
  }
}
