.payment {
  color: $color-greyish-brown;
  counter-reset: number;
  margin: 0;

  //width: 200px;
  width: 75%;

  &__name {
    position: relative;

    border-top: 1px solid rgba(0, 0, 0, 0.05);
    color: $color-greyish-brown;

    padding-top: 14px;

    &::after {
      counter-increment: number;
      content: counter(number);
      position: absolute;
      right: -45px;
      top: 8px;
      padding: 8px;
      width: 34px;
      height: 34px;
      text-align: center;
      border-radius: 50%;
      background-color: $color-light-gold;
      color: $color-white;
    }

    &--first {
      &::after {
        background-color: $color-mango;
      }
    }

    &--second {
      &::after {
        background-color: $color-mango-three;
      }
    }
  }

  &__rate {
    margin-left: 0;
    padding-bottom: 14px;

    &:last-child {
      border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    }
  }
}
