.socials {
  display: flex;
  height: 45px;
  align-items: center;
  justify-content: center;

  &__icon-wrapper {
    position: relative;
    width: 45px;
    height: 45px;
    padding: 14px 23px;
    background-color: $color-light-gold;
    border-radius: 50%;
    transition: 0.3s;

    @media (min-width: 768px) {
      width: 60px;
      height: 60px;
      padding: 23px 30px;
    }

    &:hover {
      background-color: $color-mango-three;
    }

    &:active {
      svg {
        opacity: 0.3;
      }
    }

    svg {
      max-width: 21px;
      max-height: 23px;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);

      @media (min-width: 768px) {
        max-width: 31px;
        max-height: 28px;
      }
    }
  }

  &--transparent {
    .socials {

      &__icon-wrapper {
        background-color: transparent;

        svg {
          path,
          circle {
            fill: #cccccc;
          }
        }
      }
    }
  }
}
