@import "../colors";

.steps {
  font-size: 18px;
  font-weight: 700;
  line-height: 1;

  list-style: none;

  display: flex;
  flex-direction: column;

  margin-bottom: 75px;

  counter-reset: section;

  @media (min-width: 768px) {
    width: calc(100% + 82px);
    margin-top: -101px;
    margin-bottom: 138px;
    flex-direction: row;
    flex-wrap: wrap;
  }

  &__step-item {
    background-color: $color-light-gold;
    color: $color-dark;

    padding: 23px 109px 39px 25px;
    position: relative;

    margin-top: -14px;

    border-radius: 10px;

    @media (min-width: 768px) {
      border-radius: 0 0 10px 10px;
      padding: 31px 99px 62px 34px;
      font-size: 24px;
      width: 50%;
      margin-top: 0;
      margin-left: -10px;
    }

    &::after {
      counter-increment: section;
      content: counter(section);
      position: absolute;
      right: 23px;
      top: 23px;
      color: $color-white;

      @media (min-width: 768px) {
        left: 34px;
        top: 89px;
      }
    }

    &--first {
      background-color: $color-mango-two;

      border-radius: 10px 10px 0 0;

      @media (min-width: 768px) {
        border-radius: 10px 0 0 0;
        margin-left: -33px;
      }

      &::after {
        counter-increment: section;
        content: counter(section);
        position: absolute;
        right: 23px;
        top: 23px;
        color: $color-white;

        @media (min-width: 768px) {
          left: 34px;
          top: 89px;
        }
      }
    }

    &--second {
      background-color: $color-mango;

      border-radius: 10px 10px 0 0;

      @media (min-width: 768px) {
        border-radius: 10px 10px 0 0;
        margin-left: -10px;
      }

      &::after {
        counter-increment: section;
        content: counter(section);
        position: absolute;
        right: 23px;
        top: 23px;
        color: $color-white;

        @media (min-width: 768px) {
          left: 34px;
          top: 89px;
        }
      }
    }

    &--third {
      background-color: $color-mango-three;

      border-radius: 10px 10px 0 0;

      @media (min-width: 768px) {
        border-top-right-radius: 0;
        border-top-left-radius: 0;
        border-bottom-left-radius: 10px;
        margin-left: -33px;
      }

      &::after {
        counter-increment: section;
        content: counter(section);
        position: absolute;
        right: 23px;
        top: 23px;
        color: $color-white;

        @media (min-width: 768px) {
          left: 34px;
          top: 89px;
        }
      }
    }
  }
}
