$color-dark: #161c35;
$color-dark-slate-blue: #1d2e5b;
$color-dark-blue-grey: #192144;
$color-light-blue: #dfe3f0;
$color-light-gold: #ffd74b;
$color-mango-two: #ff8d30;
$color-mango: #ffa530;
$color-mango-three: #ffbd30;
$color-black: #000000;
$color-white: #ffffff;
$color-pale-grey-middle: #edeff6;
$color-greyish-brown: #444444;
$color-salmon: #f97676;
$color-green-apple: #81e31e;
$color-pale-grey-light: #f3f4f8;
$color-dark-blue-grey-three: #121936;
$color-foxy: #f26926;
