.review {
  margin: 0;
  padding: 0 116px 33px 51px;

  &__content {
    font-size: 16px;
    font-weight: 300;
    line-height: 1.38;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;

    margin-bottom: 25px;

    &--author {
      font-weight: bold;
    }
  }
}
