:root {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
}

@import "normalize";
@import "btn";
@import "fonts";
@import "header";
@import "settings";
@import "blocks/main-hero";
@import "review";
@import "steps";
@import "about";
@import "blocks/page-main";
@import "action-buttons";
@import "blocks/destinations";
