.ways-of-travelling {
  display: flex;
  justify-content: center;

  &__way-item {
    opacity: 0.15;
    margin-right: 17px;

    &:last-child {
      margin-right: 0;
    }

    &--active {
      opacity: 1;
      svg {
        path: $color-dark-slate-blue;
      }
    }
  }
}
